.form-error {
    margin-top: 10px;
    width: 90%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

.colorcode {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 150px;
    height: 80px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    position: relative;
}

.colorcode p {
    background-color: black;
    text-align: center;
    position: inherit;
}

.left-side,
.right-side {
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-side {
    left: 0;
    top: 0;
    background-color: black;
    -webkit-clip-path: polygon(0 0, 100% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 0% 100%, 0% 100%);
}

.right-side {
    right: 0;
    top: 0;
    background-color: green;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
}


/* Code below based on expample by https://codepen.io/dannibla */


/****  floating-Lable style start ****/

.floating-label {
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
}

.floating-input,
.floating-select {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
    outline: none;
    border-bottom: 2px solid #5264AE;
}

.floating-label label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
    top: -18px;
    font-size: 14px;
    color: #5264AE;
}


/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
    width: 50%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}


/* highlighter */

.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* animation */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}


/****  floating-Lable style end ****/