<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Analyse and change colors in a PDF" />
    <link rel="apple-touch-icon" href="/static/logo192.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <title>AJAX - Test - PDF Color Changer</title>
    <link href="/static/css/2.0e480839.chunk.css" rel="stylesheet">
    <link href="/static/css/main.b14005cf.chunk.css" rel="stylesheet">
</head>

<body class="bg-light"><noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="container">
        <div class="py-5 text-center">
            <h2>AJAX Colors in your PDF</h2>
            <h3>This app is currently building. Please reload in a few minutes</h3>
        </div>
        <div id="root"></div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">this is currently a work in progress. <strong>You can report Bugs via <a
                        href="mailto:pdfcc@y-lang.eu?subject=pdfcc Bugreport">E-Mail.</a></strong></p>
            <p>The Source Code for this project can be found on <a href="https://www.github.com/layaxx/pdfcc">GitHub</a>
            </p>
        </footer>
    </div>
</body>

</html>