{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Yannick Lang, Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
    <title>PDF Color Changer</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
        .container {
            max-width: 960px;
        }
        
        .lh-condensed {
            line-height: 1.25;
        }
        
        .rect {
            height: 1.25rem;
            width: 3rem;
            background-color: blue;
            border-style: solid;
        }
        
        .c3 {
            display: none;
        }
        
        .c4 {
            display: none;
        }
        
        .c5 {
            display: none;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <!--             <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" /> -->
            <h2>Change Colors in your PDF</h2>
            <p class="lead">
                This is a python based webapp allowing you to change colors in a pdf. The use case this was created for is changing the dark-colored background of slides that will be printed to a lighter color in order not to waste toner.
            </p>
            <div class="alert alert-warning" role="alert">
                Attention: This does not (currently) replace colors inside of embedded images, but only colors of text and paths.
            </div>
            {% if pdf_b64 %}
            <div class="alert alert-success" role="alert">
                Substitution completed. Please wait a few seconds for your downloadlink to appear.
                <a href="data:file/pdf;base64,{{pdf_b64}}" download="{{pdf_filename}}">Download your PDF now.</a
          >
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">PDF Document</h4>
          <form
            enctype="multipart/form-data"
            action="{% url 'index' %}"
            method="post"
          >
            {% csrf_token %} {{ form.non_field_errors }}
            <div class="row">
              <div class="col-md-12">
                {{ form.pdf.errors }} {{ form.pdf.label_tag }}
                <br />
                {{ form.pdf }}
              </div>
            </div>
            <hr class="mb-4" />
            <h4 class="mb-3 mt-3">Colors to be substituted, as RGB (0-255)</h4>
            <div class="row">
              <h6>With the default values, this turns the background white</h6>
              <div class="col-md-6">
                {{ form.c1_old.errors }} {{ form.c1_old.label_tag }}
                <br />{{ form.c1_old }}
              </div>
              <div class="col-md-6 mb-4">
                {{ form.c1_new.errors }} {{ form.c1_new.label_tag }}
                <br />{{ form.c1_new }}
              </div>
              <h6>With the default values, this turns the text black</h6>
              <div class="col-md-6">
                {{ form.c2_old.errors }} {{ form.c2_old.label_tag }}
                <br />{{ form.c2_old }}
              </div>
              <div class="col-md-6 mb-4">
                {{ form.c2_new.errors }} {{ form.c2_new.label_tag }}
                <br />{{ form.c2_new }}
              </div>
              <div class="col-md-12 c3">
                <h6 class="c3">costum colors to be substituted</h6>
              </div>
              <div class="col-md-6 c3">
                {{ form.c3_old.errors }} {{ form.c3_old.label_tag }}
                <br />{{ form.c3_old }}
              </div>
              <div class="col-md-6 mb-4 c3">
                {{ form.c3_new.errors }} {{ form.c3_new.label_tag }}
                <br />{{ form.c3_new }}
              </div>
              <div class="col-md-6 c4">
                {{ form.c4_old.errors }} {{ form.c4_old.label_tag }}
                <br />{{ form.c4_old }}
              </div>
              <div class="col-md-6 mb-4 c4">
                {{ form.c4_new.errors }} {{ form.c4_new.label_tag }}
                <br />{{ form.c4_new }}
              </div>
              <div class="col-md-6 c5">
                {{ form.c5_old.errors }} {{ form.c5_old.label_tag }}
                <br />{{ form.c5_old }}
              </div>
              <div class="col-md-6 mb-4 c5">
                {{ form.c5_new.errors }} {{ form.c5_new.label_tag }}
                <br />{{ form.c5_new }}
              </div>

              {{ form.color_count }}
              <div
                class="alert alert-warning"
                role="alert"
                id="color_warning"
                style="display: none"
              >
                Currently only 5 colors are permitted per action.
              </div>
              <button
                class="btn btn-light btn-lg btn-block"
                style="box-shadow: 4px 4px 2px 1px rgba(58, 58, 68, 0.2)"
                type="button"
                id="add_color_button"
                onclick="addColor()"
              >
                + more Colors
              </button>
            </div>
            <hr class="mb-4" />
            <h4 class="mb-3 mt-3">Options</h4>
            <div>
              {{ form.prec.errors }} {{ form.prec.label_tag }}
              <br />
              {{ form.prec }}
            </div>
            <div>
              {{ form.images.errors }} {{ form.images.label_tag }}
              <br />
              {{ form.images }}
            </div>
            <hr class="mb-4" />
            <button
              class="btn btn-primary btn-lg btn-block"
              style="box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2)"
              type="submit"
            >
              Submit PDF
            </button>
          </form>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted text-center">Overview</span>
          </h4>
          <ul id="sidebar_list" class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Supplied PDF</h6>
              </div>
              <span class="text-muted" id="filename">None</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">First Color old</h6>
                <h6 class="my-0">First Color new</h6>
              </div>
              <div>
                <div class="rect" id="c1_old"></div>
                <div class="rect" id="c1_new"></div>
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Second Color old</h6>
                <h6 class="my-0">Second Color new</h6>
              </div>
              <div>
                <div class="rect" id="c2_old"></div>
                <div class="rect" id="c2_new"></div>
              </div>
            </li>
            <!-- c3 -->
            <!-- c4 -->
            <!-- c5 -->
            <li class="list-group-item d-flex justify-content-between">
              <span>Your PDF</span>
              <div style="text-align: right">
                {% if not pdf_b64%}
                <strong id="downloadlink">unavailable</strong>
                <br />
                <small class="text-muted">Please submit the form first</small>
                {% else %}
                <a
                  href="data:file/pdf;base64,{{pdf_b64}}"
                  download="{{pdf_filename}}"
                  >Download PDF File</a
                >{% endif %}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">
          this is currently a work in progress.
          <strong
            >You can report Bugs via
            <a href="mailto:pdfcc@y-lang.eu?subject=pdfcc Bugreport">E-Mail.</a>
                </strong>
                </p>
                <!-- <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul> -->
                <p>
                    The Source Code for this project can be found on
                    <a href="https://www.github.com/layaxx">GitHub</a>
                </p>
                </footer>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script>
                let color_count = "{{color_count}}";
                let colors = 2;
                if (color_count != 2) {
                    for (let i = 2; i <= color_count; i++) {
                        addColor();
                    }
                }

                function updateColors() {
                    document.getElementById("c1_old").style.backgroundColor =
                        "rgb(" +
                        document.getElementById("id_c1_old_0").value +
                        "," +
                        document.getElementById("id_c1_old_1").value +
                        "," +
                        document.getElementById("id_c1_old_2").value +
                        ")";
                    document.getElementById("c1_new").style.backgroundColor =
                        "rgb(" +
                        document.getElementById("id_c1_new_0").value +
                        "," +
                        document.getElementById("id_c1_new_1").value +
                        "," +
                        document.getElementById("id_c1_new_2").value +
                        ")";
                    document.getElementById("c2_old").style.backgroundColor =
                        "rgb(" +
                        document.getElementById("id_c2_old_0").value +
                        "," +
                        document.getElementById("id_c2_old_1").value +
                        "," +
                        document.getElementById("id_c2_old_2").value +
                        ")";
                    document.getElementById("c2_new").style.backgroundColor =
                        "rgb(" +
                        document.getElementById("id_c2_new_0").value +
                        "," +
                        document.getElementById("id_c2_new_1").value +
                        "," +
                        document.getElementById("id_c2_new_2").value +
                        ")";
                    if (colors > 2) {
                        document.getElementById("c3_new").style.backgroundColor =
                            "rgb(" +
                            document.getElementById("id_c3_new_0").value +
                            "," +
                            document.getElementById("id_c3_new_1").value +
                            "," +
                            document.getElementById("id_c3_new_2").value +
                            ")";
                        document.getElementById("c3_old").style.backgroundColor =
                            "rgb(" +
                            document.getElementById("id_c3_old_0").value +
                            "," +
                            document.getElementById("id_c3_old_1").value +
                            "," +
                            document.getElementById("id_c3_old_2").value +
                            ")";
                        if (colors > 3) {
                            document.getElementById("c4_new").style.backgroundColor =
                                "rgb(" +
                                document.getElementById("id_c4_new_0").value +
                                "," +
                                document.getElementById("id_c4_new_1").value +
                                "," +
                                document.getElementById("id_c4_new_2").value +
                                ")";
                            document.getElementById("c4_old").style.backgroundColor =
                                "rgb(" +
                                document.getElementById("id_c4_old_0").value +
                                "," +
                                document.getElementById("id_c4_old_1").value +
                                "," +
                                document.getElementById("id_c4_old_2").value +
                                ")";
                            if (colors > 4) {
                                document.getElementById("c5_old").style.backgroundColor =
                                    "rgb(" +
                                    document.getElementById("id_c5_old_0").value +
                                    "," +
                                    document.getElementById("id_c5_old_1").value +
                                    "," +
                                    document.getElementById("id_c5_old_2").value +
                                    ")";
                                document.getElementById("c5_new").style.backgroundColor =
                                    "rgb(" +
                                    document.getElementById("id_c5_new_0").value +
                                    "," +
                                    document.getElementById("id_c5_new_1").value +
                                    "," +
                                    document.getElementById("id_c5_new_2").value +
                                    ")";
                            }
                        }
                    }
                }

                const inputElement = document.getElementById("id_pdf");
                inputElement.addEventListener("change", handleFiles, false);

                function handleFiles() {
                    const fileList = this.files; /* now you can work with the file list */
                    try {
                        document.getElementById("filename").innerText = fileList[0].name;
                    } catch {
                        document.getElementById("filename").innerText = "None";
                    }
                }
                updateColors();

                function addColor() {
                    if (colors == 2) {
                        elements = document.getElementsByClassName("c3");
                        for (let i = 0; i < elements.length; i++) {
                            elements[i].style.display = "block";
                        }
                        let x = document.getElementById("sidebar_list").innerHTML;
                        document.getElementById("sidebar_list").innerHTML = x.replace(
                            "<!-- c3 -->",
                            String.raw `<li class="list-group-item d-flex justify-content-between lh-condensed" ><div><h6 class = "my-0" > Third Color old </h6> <h6 class = "my-0" > Third Color new </h6> </div> <div ><div class = "rect"id = "c3_old" > </div> <div class = "rect"id = "c3_new" > </div> </div> </li>`
                        );
                        document.getElementById("id_color_count").value = 3;
                    } else if (colors == 3) {
                        elements = document.getElementsByClassName("c4");
                        for (let i = 0; i < elements.length; i++) {
                            elements[i].style.display = "block";
                        }
                        let x = document.getElementById("sidebar_list").innerHTML;
                        document.getElementById("sidebar_list").innerHTML = x.replace(
                            "<!-- c4 -->",
                            String.raw `<li class="list-group-item d-flex justify-content-between lh-condensed" ><div><h6 class = "my-0" > Fourth Color old </h6> <h6 class = "my-0" > Fourth Color new </h6> </div> <div ><div class = "rect"id = "c4_old" > </div> <div class = "rect"id = "c4_new" > </div> </div> </li>`
                        );
                        document.getElementById("id_color_count").value = 4;
                    } else if (colors == 4) {
                        elements = document.getElementsByClassName("c5");
                        for (let i = 0; i < elements.length; i++) {
                            elements[i].style.display = "block";
                        }
                        let x = document.getElementById("sidebar_list").innerHTML;
                        document.getElementById("sidebar_list").innerHTML = x.replace(
                            "<!-- c5 -->",
                            String.raw `<li class="list-group-item d-flex justify-content-between lh-condensed" ><div><h6 class = "my-0" > Fifth Color old </h6> <h6 class = "my-0" > Fifth Color new </h6> </div> <div ><div class = "rect"id = "c5_old" > </div> <div class = "rect"id = "c5_new" > </div> </div> </li>`
                        );
                        document.getElementById("color_warning").style.display = "block";
                        document.getElementById("add_color_button").disabled = true;
                        document.getElementById("id_color_count").value = 5;
                    } else {
                        document.getElementById("color_warning").style.display = "block";
                        document.getElementById("add_color_button").disabled = true;
                    }
                    colors++;
                    updateColors();
                }
            </script>
</body>

</html>